# This file specifies files that are *not* uploaded to Google Cloud Platform
# using gcloud. It follows the same syntax as .gitignore, with the addition of
# "#!include" directives (which insert the entries of the given .gitignore-style
# file at that point).
#
# For more information, run:
#   $ gcloud topic gcloudignore
#
.gcloudignore
*.bat
.gitignore
.idea/
.pytest_cache/
tests/
.vscode/
.github/
Procfile
requirements-dev.txt
runtime.txt
.sass-cache/
*.css.map
*.sass.map
*.scss.map
*.log
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
__pycache__/
*.py[cod]
*$py.class
*.map