version: "3.2"
services:
  api:
    image: memberships-api:101
    container_name: 'memberships-api'
    command: "exec gunicorn --bind 0.0.0.0:8081 --workers 2 --threads 8 --timeout 0 run:app"
    restart: always
    expose:
      - 8081
    ports:
      - 8081:8081
    volumes:
      - .:/app
  system-admin:
    image: memberships-admin:101
    container_name: 'memberships-admin'
    command: "exec gunicorn --bind 0.0.0.0:8082 --workers 2 --threads 8 --timeout 0 run:app"
    restart: always
    expose:
      - 8082
    ports:
      - 8082:8082
    volumes:
      - .:/app
  tasks:
    build:
      context: .
      dockerfile: Dockerfile
    command: "python tasks.py"
    restart: always
  cron:
    build:
      context: .
      dockerfile: Dockerfile
    command: "python cron.py"
    restart: always
  rabbit:
    image: rabbitmq:3-management
    container_name: 'rabbitmq'
    expose:
      - 5672
      - 15672
    ports:
      - 5672:5672
      - 15672:15672
    volumes:
      - ~/.docker-conf/rabbitmq/data/:/var/lib/rabbitmq/
      - ~/.docker-conf/rabbitmq/log/:/var/log/rabbitmq