bcrypt
Flask~=1.1.2
Flask-Bcrypt
Flask-Caching
google-api-core
google-auth
google-cloud
google-cloud-core
google-cloud-datastore
google-cloud-ndb==1.8.0
google-cloud-pubsub
google-cloud-tasks
googleapis-common-protos
grpc-google-iam-v1
grpcio
Jinja2
proto-plus
protobuf
PyJWT~=2.1.0
requests~=2.25.1
requests-toolbelt
shortuuid
Werkzeug~=1.0.1
gunicorn
python-decouple
pytest~=6.2.4
pytest_cov
pytest_mock
aiohttp~=3.7.4.post0
paypalhttp~=1.0.0