bcrypt==3.2.0
Flask==1.1.2
Flask-Bcrypt
Flask-Caching==1.10.1
google-api-core==1.26.3
google-auth==1.30.0
google-cloud==0.34.0
google-cloud-core==1.6.0
google-cloud-datastore==2.1.2
google-cloud-ndb==1.8.0
google-cloud-pubsub==2.4.1
google-cloud-tasks==2.2.0
googleapis-common-protos==1.53.0
grpc-google-iam-v1==0.12.3
grpcio==1.37.1
Jinja2==2.11.3
proto-plus==1.18.0
protobuf==3.13.0
PyJWT==2.1.0
requests==2.25.1
requests-toolbelt==0.9.1
shortuuid==1.0.1
uuid==1.30
Werkzeug==1.0.1
gunicorn==20.1.0
python-decouple
pytest
pytest_cov
pytest_mock