
<table class="table table-responsive">
    <!-- this table contains organizations list which would have passed when organizations.html was called -->
    <thead>
        <tr>
            <td><strong> <i class="fa fa-folder-open"> </i> Organization Name</strong></td>
            <td><strong> <i class="fa fa-file-alt"> </i> Description</strong></td>
        </tr>
    </thead>
        <tbody>

                {% for organization in organizations_list %}
                    <tr>
                        <td><a href="{{  }}">{{ organization.organization_name }}</a></td>
                        <td>{{ organization.description }}</td>
                    </tr>
                {% endfor %}
        </tbody>
    <tfoot>
        <tr>
            <td><strong> <i class="fa fa-folder-open"> </i> Organization Name</strong></td>
            <td><strong> <i class="fa fa-file-alt"> </i> Description</strong></td>
        </tr>
    </tfoot>
</table>