{% extends "client/layouts/layout.html" %}
<!-- body of account here
this section is used to enable clients
1. to subscribe to memberships payment plans
2. create own organization
3. update organization
4. create services or products
5. create payment plans for your clients
6. create and manage API Keys
-->
{% block content %}
<!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="card">
              <div class="card-header">
                  <h2 class="card-title"> Accounts & Subscriptions </h2>
              </div>

                  <div class="card-body">
                        <!-- display account details here -->

                  </div>

          </div>
      </div><!-- /.container-fluid -->
    </section>
<!-- /.content -->
{% endblock content %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/pages/my_account.js') }}"></script>
{% endblock scripts %}