
{% extends "main/layouts/layout.html" %}
{% block metatags %}
        <!-- metatags -->
        <title> Password recovery - Memberships &amp; Affiliates Management API</title>
        <meta name="description" content=" " />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <!-- og:properties -->
        <meta property="og:site_name" name="Memberships & Affiliates Management API" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="Memberships & Affiliates Management API" />
        <meta property="og:title" content="Memberships & Affiliates Management API" />
        <meta property="og:url" content="{{ url_for('memberships_main.memberships_main_routes', path='login', _external=True ) }}" />
        <!-- og:image -->
        <meta property="og:image" content=" " />
        <meta property="og:image:type" content="image/png" />
        <meta property="og:image:width" content="1024" />
        <meta property="og:image:height" content="1270" />
        <meta property="og:image:alt" content="Memberships & Affiliates Management API" />
        <!--- favicon -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='manifests/icon.jpg') }}" />
        <link rel="manifest" href="{{ url_for('static', filename='manifests/manifest.json')}}" />
        <link rel="canonical" href="{{ url_for('memberships_main.memberships_main_routes', path='login', _external=True ) }}" />
        <!-- end metatags -->
{% endblock metatags %}

{% block content %}
<!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
                <!-- /.row -->
                <!-- Main content -->
                    <section class="content">
                      <div class="container-fluid">
                        <div class="row">
                          <!-- left column -->
                          <div class="col-md-12">
                            <!-- jquery validation -->
                            <div class="card">
                              <div class="card-header">
                                <h3 class="card-title">Password Recovery <small></small></h3>
                              </div>
                              <!-- /.card-header -->
                              <!-- form start -->
                              <form role="form" id="forget">
                                <div class="card-body">
                                  <div class="form-group">
                                    <label for="email">Email address</label>
                                    <input type="email" name="email" class="form-control" id="email" placeholder="Enter email">
                                  </div>
                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer">
                                  <button type="submit" class="btn btn-primary">
                                      <i class="nav-icon fas fa-file-alt"> </i>
                                      Recover
                                  </button> OR
                                  <a href="{{ url_for('memberships_main.memberships_main_routes', path='login') }}" type="button" class="btn btn-warning">
                                      <i class="nav-icon fas fa-link"> </i>
                                      Login
                                  </a>
                                </div>

                                  <div class="form-group">
                                      <!-- Response messages container -->
                                      <span id="message" class="form-control"></span>
                                  </div>
                              </form>
                            </div>
                            <!-- /.card -->
                            </div>
                          <!--/.col (left) -->
                          <!-- right column -->
                          <div class="col-md-6">

                          </div>
                          <!--/.col (right) -->
                        </div>
                        <!-- /.row -->
                      </div><!-- /.container-fluid -->
                    </section>
                <!-- /.content -->

      </div><!-- /.container-fluid -->
    </section>
<!-- /.content -->

{% endblock content %}

{% block page_scripts %}
    <!-- Page Specific scripts -->
    <script src="{{ url_for('static', filename='js/pages/forget.js')}}"> </script>
{% endblock page_scripts %}