{% extends "main/layouts/layout.html" %}

{% block metatags %}
        <!-- meta_tags -->
        <title>Memberships &amp; Affiliates Management API</title>
        <meta name="description" content=" " />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <!-- og:properties -->
        <meta property="og:site_name" name="Memberships & Affiliates Management API" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="Memberships & Affiliates Management API" />
        <meta property="og:title" content="Memberships & Affiliates Management API" />
        <meta property="og:url" content="{{ url_for('memberships_main.memberships_main', _external=True ) }}" />
        <!-- og:image -->
        <meta property="og:image" content=" " />
        <meta property="og:image:type" content="image/png" />
        <meta property="og:image:width" content="1024" />
        <meta property="og:image:height" content="1270" />
        <meta property="og:image:alt" content="Memberships & Affiliates Management API" />
        <!--- favicon -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='manifests/icon.jpg') }}" />
        <link rel="manifest" href="{{ url_for('static', filename='manifests/manifest.json')}}" />
        <link rel="canonical" href="{{ url_for('memberships_main.memberships_main', _external=True ) }}" />
        <!-- end meta_tags -->
{% endblock metatags %}
{% block content %}
<!-- Main content -->
    <section class="content">
      <div class="container-fluid">
      <br />
        <!-- Small boxes (Stat box) -->
        <!-- /.row -->
      <div class="row">

          <div class="card">
            <div class="card-header">
              <h1 class="card-title">Memberships &amp; Affiliates Management API </h1>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                  <i class="fas fa-minus"></i></button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                  <i class="fas fa-times"></i></button>
              </div>
            </div>
            <div class="card-body">
                <div class="card-header">
                    <h2 class="card-title">
                        <strong>About Memberships &amp; Affiliates Management API</strong>
                    </h2>
                </div>
                <div class="card-content">
                    <p class="card-text">
                        Our API offers one easy to use solutions to anyone looking forward to <strong>creating web based services
                        either on a website or a web application</strong>, the only thing you would need to do is create and describe
                        <strong>your membership plans</strong>, <strong>integrate your payment plans</strong>, <strong>enable your affiliate api</strong>,
                        and then start integrating the api into your web application.
                    </p>
                </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
                  <div class="row">
                    <div class="col-12">
                      <h5>API's Details</h5>
                        <div class="post clearfix">
                          <div class="user-block">
                            <span class="username">
                              <a href="#">Memberships Management API</a>
                            </span>
                          </div>
                            <!-- /.user-block -->
                              Integrated memberships sections in your website &amp; web applications with ease, our API allows you to
                              <ul>
                                <li>Create &amp; Manage Memberships Plans</li>
                                <li>Integrated Payment Options for your Plans</li>
                                <li>Automatically downgrade unpaid membership plans</li>
                                 <li>Ability to automatically send reminders for payments and payment notifications/receipts</li>
                              </ul>
                          <p>
                            <a href="/demos/api/memberships" class="link-black text-sm"><i class="fas fa-link mr-1"></i> API Demo | </a>
                            <a href="#" class="link-black text-sm"><i class="fas fa-link mr-1"></i> Integration Examples </a> |
                            <a href="#" class="link-black text-sm"><i class="fas fa-link mr-1"></i> SDK Examples </a>
                          </p>
                        </div>
                        <div class="post clearfix">
                          <div class="user-block">
                            <span class="username">
                              <a href="#">Users Management API</a>
                            </span>
                          </div>
                          <!-- /.user-block -->
                          <p>
                              Allows you to manage users, sign-up process, and integrates well with <strong>memberships</strong>
                              and <strong>affiliates api's</strong> to offer one clean solutions to your website and or web application.
                          </p>
                          <p>
                            <a href="#" class="link-black text-sm"><i class="fas fa-link mr-1"></i> API Demo | </a>
                            <a href="#" class="link-black text-sm"><i class="fas fa-link mr-1"></i> Integration Examples </a> |
                            <a href="#" class="link-black text-sm"><i class="fas fa-link mr-1"></i> SDK Examples </a>
                          </p>
                        </div>
                        <div class="post clearfix">
                          <div class="user-block">
                            <span class="username">
                              <a href="#">Affiliates Management API</a>
                            </span>
                          </div>
                          <!-- /.user-block -->
                          <p>
                            Our API allows you to manage your affiliates,
                          </p>
                          <p>
                            <a href="#" class="link-black text-sm"><i class="fas fa-link mr-1"></i> API Demo | </a>
                            <a href="#" class="link-black text-sm"><i class="fas fa-link mr-1"></i> Integration Examples </a> |
                            <a href="#" class="link-black text-sm"><i class="fas fa-link mr-1"></i> SDK Examples </a>
                          </p>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
      </div>
      </div>
    </section>
    <!-- /.content -->
<!-- /.content -->
{% endblock content %}