
{% extends "main/layouts/layout.html" %}
{% block content %}
<!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->

        <!-- /.row -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Memberships &amp; Affiliates Management API </h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
              <i class="fas fa-minus"></i></button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fas fa-times"></i></button>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
              <div class="row">
                <div class="col-12">
                  <h4>About</h4>
                    <div class="post clearfix">
                      <div class="user-block">
                        <span class="username">
                          <a href="#">Memberships Management API</a>
                        </span>
                        <span class="description">Shared publicly - 7:45 PM today</span>
                      </div>
                        <!-- /.user-block -->
                          Integrated memberships sections in your website &amp; web applications with ease, our API allows you to
                          <ul>
                            <li>Create &amp; Manage Memberships Plans</li>
                            <li>Integrated Payment Options for your Plans</li>
                            <li>Automatically downgrade unpaid membership plans</li>
                             <li>Ability to automatically send reminders for payments and payment notifications/receipts</li>
                          </ul>
                      <p>
                        <a href="#" class="link-black text-sm"><i class="fas fa-link mr-1"></i> API Demo</a>
                      </p>
                    </div>
                    <div class="post clearfix">
                      <div class="user-block">
                        <span class="username">
                          <a href="#">Users Management API</a>
                        </span>
                        <span class="description">Shared publicly - 5 days ago</span>
                      </div>
                      <!-- /.user-block -->
                      <p>
                        Lorem ipsum represents a long-held tradition for designers,
                        typographers and the like. Some people hate it and argue for
                        its demise, but others ignore.
                      </p>

                      <p>
                        <a href="#" class="link-black text-sm"><i class="fas fa-link mr-1"></i> API Demo</a>
                      </p>
                    </div>
                    <div class="post clearfix">
                      <div class="user-block">
                        <span class="username">
                          <a href="#">Affiliates Management API</a>
                        </span>
                        <span class="description">Sent you a message - 3 days ago</span>
                      </div>
                      <!-- /.user-block -->
                      <p>
                        Lorem ipsum represents a long-held tradition for designers,
                        typographers and the like. Some people hate it and argue for
                        its demise, but others ignore.
                      </p>
                      <p>
                        <a href="#" class="link-black text-sm"><i class="fas fa-link mr-1"></i> API Demo</a>
                      </p>
                    </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
      </div>
    </section>
    <!-- /.content -->
  <!-- /.content-wrapper -->
      </div><!-- /.container-fluid -->
    </section>
<!-- /.content -->

{% endblock content %}