
{% extends "main/layouts/layout.html" %}
{% block metatags %}
        <!-- metatags -->
        <title> Subscribe - Memberships &amp; Affiliates Management API</title>
        <meta name="description" content=" " />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <!-- og:properties -->
        <meta property="og:site_name" name="Memberships & Affiliates Management API" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="Memberships & Affiliates Management API" />
        <meta property="og:title" content="Memberships & Affiliates Management API" />
        <meta property="og:url" content="{{ url_for('memberships_main.memberships_main_routes', path='subscribe', _external=True ) }}" />
        <!-- og:image -->
        <meta property="og:image" content=" " />
        <meta property="og:image:type" content="image/png" />
        <meta property="og:image:width" content="1024" />
        <meta property="og:image:height" content="1270" />
        <meta property="og:image:alt" content="Memberships & Affiliates Management API" />
        <!--- favicon -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='manifests/icon.jpg') }}" />
        <link rel="manifest" href="{{ url_for('static', filename='manifests/manifest.json')}}" />
        <link rel="canonical" href="{{ url_for('memberships_main.memberships_main_routes', path='subscribe', _external=True ) }}" />
        <!-- end metatags -->
{% endblock metatags %}

{% block content %}
<!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
                <!-- /.row -->
                <!-- Main content -->
                    <section class="content">
                      <div class="container-fluid">
                        <div class="row">
                          <!-- left column -->
                          <div class="col-md-12">
                            <!-- jquery validation -->
                            <div class="card">
                              <div class="card-header">
                                <h3 class="card-title">Subscribe <small> if you dont already have an account</small></h3>
                              </div>
                              <!-- /.card-header -->
                              <!-- form start -->
                              <form role="form" id="quickForm">
                                <div class="card-body">
                                  <div class="form-group">
                                    <label for="names">Names</label>
                                    <input type="text" name="names" class="form-control" id="names" placeholder="Enter Names">
                                  </div>

                                  <div class="form-group">
                                    <label for="cell">Cell</label>
                                    <input type="text" name="cell" class="form-control" id="cell" placeholder="Enter Cell">
                                  </div>

                                  <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                                  </div>
                                  <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                  </div>
                                  <div class="form-group">
                                    <label for="repeat-password">Repeat Password</label>
                                    <input type="password" name="repeat-password" class="form-control" id="repeat-password" placeholder="Repeat Password">
                                  </div>

                                  <div class="form-group mb-0">
                                    <div class="custom-control custom-checkbox">
                                      <input type="checkbox" name="terms" class="custom-control-input" id="terms">
                                      <label class="custom-control-label" for="terms">I agree to the <a href="{{ url_for('memberships_main.memberships_main_routes', path='terms')}}">terms of service</a>.</label>
                                    </div>
                                  </div>
                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer">
                                  <button type="submit" class="btn btn-primary"> <i class="fa fa-user-plus"> </i> Subscribe </button> OR
                                  <a href="{{ url_for('memberships_main.memberships_main_routes', path='login') }}" type="button" class="btn btn-warning">
                                      <i class="fa fa-link"> </i>
                                      Login
                                  </a>
                                </div>
                              </form>
                            </div>
                            <!-- /.card -->
                            </div>
                          <!--/.col (left) -->
                          <!-- right column -->
                          <div class="col-md-6">

                          </div>
                          <!--/.col (right) -->
                        </div>
                        <!-- /.row -->
                      </div><!-- /.container-fluid -->
                    </section>
                <!-- /.content -->

      </div><!-- /.container-fluid -->
    </section>
<!-- /.content -->

{% endblock content %}