{% extends "main/layouts/layout.html" %}

{% block metatags %}
        <!-- meta_tags -->
        <title>Memberships &amp; Affiliates Management API</title>
        <meta name="description" content=" " />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <!-- og:properties -->
        <meta property="og:site_name" name="Memberships & Affiliates Management API" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="Memberships & Affiliates Management API" />
        <meta property="og:title" content="Memberships & Affiliates Management API" />
        <meta property="og:url" content="{{ url_for('memberships_main.memberships_main', _external=True ) }}" />
        <!-- og:image -->
        <meta property="og:image" content=" " />
        <meta property="og:image:type" content="image/png" />
        <meta property="og:image:width" content="1024" />
        <meta property="og:image:height" content="1270" />
        <meta property="og:image:alt" content="Memberships & Affiliates Management API" />
        <!--- favicon -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='manifests/icon.jpg') }}" />
        <link rel="manifest" href="{{ url_for('static', filename='manifests/manifest.json')}}" />
        <link rel="canonical" href="{{ url_for('memberships_main.memberships_main', _external=True ) }}" />
        <!-- end meta_tags -->
{% endblock metatags %}
{% block content %}
<!-- Main content -->
    <section class="content">
      <div class="container-fluid">
      <br />
        <!-- Small boxes (Stat box) -->
        <!-- /.row -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"> Terms of Service</h3>
                </div>
            </div>
      </div>
    </section>
    <!-- /.content -->
<!-- /.content -->
{% endblock content %}